
<header class="header">  
  <div class="container"> 
    <div class="row">
      <div class="logo"> 
        <div class="blue">M</div>ax
        <div class="green">P</div>roff   
      </div>
      <ol class="nav"> 
        <li class="nav-item"> <a class="nav-link active" href="#">Цены  </a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Услуги</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Портфолио</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Акции</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Преимущества</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Блог</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Контакты</a></li>
      </ol>
      <div class="contact-section">
        <div class="phone"> <img src="../assets/images/icons/phone.svg" alt="Phone"/><a href="tel:+7(233)222-22-22">+7 (233) 222-22-22</a></div>
        <div class="time">08:00 - 22:00, без выходных   </div>
      </div>
      <div class="icons"> <img src="../assets/images/icons/viber.svg" alt="Viber"/><img src="../assets/images/icons/whatsapp.svg" alt="Wathsapp"/><img src="../assets/images/icons/telegram.svg" alt="Telgram"/></div><a class="order-btn" href="#">Заказать звонок</a>
    </div>
    <ol class="nav-rwd">
      <li class="nav-item"> <a class="nav-link active" href="#">Цены  </a></li>
      <li class="nav-item"> <a class="nav-link" href="#">Услуги</a></li>
      <li class="nav-item"> <a class="nav-link" href="#">Портфолио</a></li>
      <li class="nav-item"> <a class="nav-link" href="#">Акции</a></li>
      <li class="nav-item"> <a class="nav-link" href="#">Преимущества</a></li>
      <li class="nav-item"> <a class="nav-link" href="#">Блог</a></li>
      <li class="nav-item"> <a class="nav-link" href="#">Контакты</a></li>
    </ol>
    <ol class="navbar"> 
      <li class="nav-item"><a class="nav-link links" href="#">Ремонт квартир</a>
        <ul>
          <li> <a href="#">Черновой </a></li>
          <li> <a href="#">Косметический</a></li>
          <li> <a href="#">Капитальный</a></li>
          <li> <a href="#">Элитный</a></li>
          <li> <a href="#">В новостройках</a></li>
          <li> <a href="#">Студии</a></li>
          <li> <a href="#">Вторичное жилье</a></li>
        </ul>
      </li>
      <li class="nav-item"> <a class="nav-link links" href="#">Дизайн интерьера</a>
        <ul>
          <li> <a href="#">Дизайн кухни </a></li>
          <li> <a href="#">Дизайн спальни</a></li>
          <li> <a href="#">Дизайн гостинной</a></li>
          <li> <a href="#">Дизайн детской</a></li>
          <li> <a href="#">Дизайн санузла</a></li>
          <li> <a href="#">Дизайн коридора</a></li>
          <li> <a href="#">Дизайн балкона</a></li>
        </ul>
      </li>
      <li class="nav-item"> <a class="nav-link links" href="#">Ремонт комнат</a>
        <ul>
          <li> <a href="#">Кухни </a></li>
          <li> <a href="#">Спальни</a></li>
          <li> <a href="#">Гостинная</a></li>
          <li> <a href="#">Детские</a></li>
          <li> <a href="#">Санузлы</a></li>
          <li> <a href="#">Коридоры</a></li>
          <li> <a href="#">Балконы</a></li>
        </ul>
      </li>
      <li class="nav-item">        <a class="nav-link" href="#">Дома и коттеджи</a></li>
      <li class="nav-item">    <a class="nav-link" href="#">Прочие услуги</a></li>
    </ol>
  </div>
</header>
<div class="md-navbar"> <i class="fa-solid fa-bars"></i>
  <div class="logo"> 
    <div class="blue">M</div>ax
    <div class="green">P</div>roff
  </div><i class="fa-solid fa-phone-volume"></i>
</div>
<div class="navbar-container">
  <div class="navbar-list-md"> 
    <ul class="button-list"> 
      <li class="nav-item"> <a href="#">Заказать звонок </a></li>
      <li class="nav-item"> <a href="#">Калькулятор ремонта</a></li>
      <li class="nav-item"> <a href="#">Калькулятор ремонта</a></li>
    </ul>
    <ol class="navbar-md"> 
      <li class="nav-item"><a class="nav-link links" href="#">Ремонт квартир</a>
        <ul>
          <li> <a href="#">Черновой </a></li>
          <li> <a href="#">Косметический</a></li>
          <li> <a href="#">Капитальный</a></li>
          <li> <a href="#">Элитный</a></li>
          <li> <a href="#">В новостройках</a></li>
          <li> <a href="#">Студии</a></li>
          <li> <a href="#">Вторичное жилье</a></li>
        </ul>
      </li>
      <li class="nav-item"> <a class="nav-link links" href="#">Дизайн интерьера</a>
        <ul>
          <li> <a href="#">Дизайн кухни </a></li>
          <li> <a href="#">Дизайн спальни</a></li>
          <li> <a href="#">Дизайн гостинной</a></li>
          <li> <a href="#">Дизайн детской</a></li>
          <li> <a href="#">Дизайн санузла</a></li>
          <li> <a href="#">Дизайн коридора</a></li>
          <li> <a href="#">Дизайн балкона</a></li>
        </ul>
      </li>
      <li class="nav-item"> <a class="nav-link links" href="#">Ремонт комнат</a>
        <ul>
          <li> <a href="#">Кухни </a></li>
          <li> <a href="#">Спальни</a></li>
          <li> <a href="#">Гостинная</a></li>
          <li> <a href="#">Детские</a></li>
          <li> <a href="#">Санузлы</a></li>
          <li> <a href="#">Коридоры</a></li>
          <li> <a href="#">Балконы</a></li>
        </ul>
      </li>
      <li class="nav-item">        <a class="nav-link" href="#">Дома и коттеджи</a></li>
      <li class="nav-item">    <a class="nav-link" href="#">Прочие услуги</a></li>
    </ol>
  </div>
</div>