header.header   
    .container 
        .row
            .logo 
                .blue M
                |ax
                .green P
                |roff   
            ol.nav 
                li.nav-item 
                    a(href="#").nav-link.active Цены  
                li.nav-item 
                    a(href="#").nav-link Услуги
                li.nav-item 
                    a(href="#").nav-link Портфолио
                li.nav-item 
                    a(href="#").nav-link Акции
                li.nav-item 
                    a(href="#").nav-link Преимущества
                li.nav-item 
                    a(href="#").nav-link Блог
                li.nav-item 
                    a(href="#").nav-link Контакты
            .contact-section
                .phone 
                    i.fa-solid.fa-phone-volume
                    a(href="tel:+7(233)222-22-22") +7 (233) 222-22-22
                .time 08:00 - 22:00, без выходных   
            a(href="#").order-btn Заказать звонок

        //- NAVBAR
        ol.navbar 
            li.nav-item
                a(href="#").nav-link.links Ремонт квартир
                ul
                    li 
                        a(href="#") Черновой 
                    li 
                        a(href="#") Косметический
                    li 
                        a(href="#") Капитальный
                    li 
                        a(href="#") Элитный
                    li 
                        a(href="#") В новостройках
                    li 
                        a(href="#") Студии
                    li 
                        a(href="#") Вторичное жилье
            li.nav-item 
                a(href="#").nav-link.links Дизайн интерьера
                ul
                    li 
                        a(href="#") Дизайн кухни 
                    li 
                        a(href="#") Дизайн спальни
                    li 
                        a(href="#") Дизайн гостинной
                    li 
                        a(href="#") Дизайн детской
                    li 
                        a(href="#") Дизайн санузла
                    li 
                        a(href="#") Дизайн коридора
                    li 
                        a(href="#") Дизайн балкона
            li.nav-item 
                a(href="#").nav-link.links Ремонт комнат
                ul
                    li 
                        a(href="#") Кухни 
                    li 
                        a(href="#") Спальни
                    li 
                        a(href="#") Гостинная
                    li 
                        a(href="#") Детские
                    li 
                        a(href="#") Санузлы
                    li 
                        a(href="#") Коридоры
                    li 
                        a(href="#") Балконы
            li.nav-item         
                a(href="#").nav-link Дома и коттеджи
            li.nav-item     
                a(href="#").nav-link Прочие услуги
